
# Visual Studio 임시 파일 및 캐시
.vs/
*.vsidx
*.suo
*.VC.db
*.VC.opendb
*.ipch
*.opensdf
*.sdf

# 빌드 결과물
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.obj.dt.d.json
*.exe

# 사용자별 설정
*.user
*.userosscache
*.sln.docstates

# 임시 파일
*.tmp
*.log
